/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

*{
    box-sizing: border-box;
   
}
html {
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: "Domine", sans-serif;
    background-color: #FEECE2;
}

a{
    text-decoration: none;
}